.idea/
.vscode/*
**/.vscode
.vscode
app
generated
tilt_modules
openapitools.json
tools/migrator/migrator
.env

code-gen*/**

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform
.terraformrc
terraform.rc
terraform
crash.log
.terraform.lock.hcl
terraform-provider-tangrampro
!tools/terraform-provider-tangrampro
*.auto.tfvars
!*/**/default.auto.tfvars
bin/acwit_watcher
!bin/dev.sh
!bin/bootstrap.sh
!bin/wipe-local-install.sh
build/conanbuildinfo.mak
build/conanbuildinfo.txt
build/conaninfo.txt
build/conan.lock
build/graph_info.json